.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 9.25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  box-sizing: border-box;
  z-index: 1;
  background-color: #fff;
}

.top-button {
  margin-bottom: 1rem;
}

.spacer {
  flex-grow: 1;
}

.bottom-button {
  margin-top: 10px;
}


@media (max-width: 768px) {
.sidebar {
  width: 100%;
  height: 12%;
  align-items: center;
  bottom: 0;
  top: auto;
  flex-direction: row;
}

.top-button, .bottom-button {
  margin: auto;
}

.spacer {
  display: none;
}
}
@media (max-width: 768px) {
.sidebar {
  width: 100%;
  height: 10%;
  bottom: 0;
  top: auto;
  flex-direction: row;
}

.top-button, .bottom-button {
  margin: auto;
}

.spacer {
  display: none;
}
}